<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplicativoaula">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicativoAula"
        tools:targetApi="31">

        <!-- MainActivity como atividade inicial -->
        <activity
            android:name="com.example.aplicativoaula.MainActivity"
            android:exported="true">
            <!-- Configuração de filtro para a atividade principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras atividades -->
        <activity
            android:name="com.example.aplicativoaula.ListagemActivity"
            android:exported="true" />
        <activity
            android:name="com.example.aplicativoaula.CadastroActivity"
            android:exported="true" />

    </application>

</manifest>
